#adminMain {
  display: flex;
}
#adminMain button {
  background-color: #2d6d98;
  color: white;
  border: none;
  border-radius: 5px;
  width: 9em;
  height: 3em;
}
#adminMain button:hover {
  cursor: pointer;
}
#adminMain .WorkSpace {
  width: 100%;
  display: flex;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv {
  width: 13%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 1em;
  padding: 0.5em;
  background-color: #2d6d98;
  border-radius: 10px;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .adminMeniLinks {
  color: white !important;
  margin: 0;
  font-size: medium;
  width: 100%;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .AdminMeniTitle {
  color: white;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .AdminMeniTitle h3 {
  margin: 0;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni {
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni p {
  margin: 0;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.644);
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni:hover p {
  color: black;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni .zahteviIcon {
  width: 2.5em;
  height: 2.5em;
  margin-left: -0.2em;
  margin-right: 1.75em;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeni img {
  width: 2em;
  height: 2em;
  margin-right: 2em;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeniLink {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeniLink .adminLink {
  color: white !important;
}
#adminMain .WorkSpace .WorkSpaceMeniDiv .WorkSpaceMeni .elemOfMeniLink .adminLink:hover {
  text-decoration: underline !important;
}
#adminMain .WorkSpace .ListeDiv {
  margin: 0 1em;
  border-radius: 10px;
  width: 82%;
  height: 90vh;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva {
  width: 100%;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .scrollDiv {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .scrollDiv thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table thead tr {
  background-color: #2d6d98;
  color: #ffffff;
  text-align: left;
  height: 3em;
  font-size: 1.3em;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table th,
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table td {
  padding: 12px 15px;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 1rem;
}
#adminMain .WorkSpace .ListeDiv .listaZahteva .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
#adminMain .WorkSpace .ListeDiv h1 {
  width: 95%;
  border-bottom: 1px solid gray;
  margin: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora {
  margin: 1em;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora h1 {
  width: 95%;
  border-bottom: 1px solid gray;
  margin: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 1em;
  margin: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard .rightFieldDoctorCard {
  width: 80%;
  margin: 0 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard img {
  width: 15em;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard .DoctorCardTherapy {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard .DoctorCardTherapy strong {
  margin: 0;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard .DoctorCardTherapy div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaDoktora .DivForDoktorCards .doctorCard .DoctorCardTherapy p {
  margin: 0;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija {
  margin: 1em;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija h1 {
  width: 95%;
  border-bottom: 1px solid gray;
  margin: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 90%;
  padding: 1em;
  margin: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard .rightFieldTherpyCard {
  width: 80%;
  margin: 0 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard img {
  width: 15em;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard .therapyCardDoctors {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard .therapyCardDoctors strong {
  margin: 0;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard .therapyCardDoctors div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaTerapija .DivForTherapyCards .therapyCard .therapyCardDoctors p {
  margin: 0;
}
#adminMain .WorkSpace .ListeDiv .listaKorisnika {
  margin: 1em;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
}
#adminMain .WorkSpace .ListeDiv .listaKorisnika h1 {
  width: 95%;
  border-bottom: 1px solid gray;
  margin: 1em;
}
#adminMain .WorkSpace .ListeDiv .listaKorisnika .DivForUserCards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#adminMain .WorkSpace .ListeDiv .listaKorisnika .DivForUserCards .userCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 1em;
  margin: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil {
  width: 90%;
  display: flex;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1em;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .editIcon {
  width: 1.5em;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminImgDiv .AdminProfilimg {
  width: 20em;
  margin-left: -0.2em;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminImgDiv .editImgDiv {
  position: absolute;
  top: 2.5em;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminImgDiv .editImgDiv:hover {
  cursor: pointer;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminImgDiv .editImgDiv p {
  margin: -0.5em 0 0 0;
  color: white;
  font-size: small;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .adminName {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .adminName div:hover {
  cursor: pointer;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .adminName div p {
  margin: -0.5em 0 0 0;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .otherInfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .otherInfo div:hover {
  cursor: pointer;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .otherInfo div p {
  margin: -0.5em 0 0 0;
}
#adminMain .WorkSpace .ListeDiv .AdminProfil .adminInfo .otherInfo div img {
  width: 1.5em;
}/*# sourceMappingURL=admin.css.map */