#adminMain {
  display: flex;
  button {
    background-color: #2d6d98;
    color: white;
    border: none;
    border-radius: 5px;
    width: 9em;
    height: 3em;
    &:hover {
      cursor: pointer;
    }
  }
  .WorkSpace {
    width: 100%;
    display: flex;

    .WorkSpaceMeniDiv {
      width: 13%;
      height: 67vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 1em;
      padding: 0.5em;
      background-color: #2d6d98;
      border-radius: 10px;
      .AdminMeniTitle {
        color: white;
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
          font-size: small;
        }
      }
      .WorkSpaceMeni {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .elemOfMeni {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          color: white;
          border-bottom: 1px solid white;
          &:hover {
            cursor: pointer;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.644);
            p {
              color: black;
            }
          }
          .zahteviIcon {
            width: 2.5em;
            height: 2.5em;
            margin-left: -0.2em;
            margin-right: 1.75em;
          }
          img {
            width: 2em;
            height: 2em;
            margin-right: 2em;
          }
        }
      }
    }
    .ListeDiv {
      margin: 0 1em;
      border-radius: 10px;
      width: 82%;
      height: 69vh;
      .listaZahteva {
        width: 100%;
        .scrollDiv {
          width: 100%;
          height: 57vh;
          overflow-y: scroll;
          overflow-x: hidden;
          thead {
            position: sticky;
            top: 0;
            z-index: 1;
          }
        }

        .styled-table {
          width: 100%;
          border-collapse: collapse;
          font-family: sans-serif;
          min-width: 400px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

          thead tr {
            background-color: #2d6d98;
            color: #ffffff;
            text-align: left;
            height: 3em;
            font-size: 1.3em;
          }

          th,
          td {
            padding: 12px 15px;
          }
          tbody tr {
            border-bottom: 1px solid #dddddd;
            font-size: 1rem;
          }
          tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
          }
        }
      }

      h1 {
        width: 95%;
        border-bottom: 1px solid gray;
        margin: 1em;
      }

      .listaDoktora {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 65vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForDoktorCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 60vh;
          overflow-y: scroll;
          overflow-x: hidden;

          .doctorCard {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;

            .rightFieldDoctorCard {
              width: 80%;
              margin: 0 3em;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: start;
              flex-direction: column;
            }
            img {
              width: 15em;
            }
            .DoctorCardTherapy {
              margin-top: 1em;
              display: flex;
              width: 100%;
              justify-content: start;
              align-items: start;
              strong {
                margin: 0;
              }
              div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                margin-left: 1em;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }

      .listaTerapija {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 65vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForTherapyCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 60vh;
          overflow-y: scroll;
          overflow-x: hidden;

          .therapyCard {
            display: flex;
            justify-content: center;
            align-items: start;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;

            .rightFieldTherpyCard {
              width: 80%;
              margin: 0 3em;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: start;
              flex-direction: column;
            }
            img {
              width: 15em;
            }
            .therapyCardDoctors {
              margin-top: 1em;
              display: flex;
              width: 100%;
              justify-content: start;
              align-items: start;
              strong {
                margin: 0;
              }
              div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                margin-left: 1em;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
      .listaKorisnika {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 65vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForUserCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 60vh;
          overflow-y: scroll;
          overflow-x: hidden;
          .userCard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
      }
      .AdminProfil {
        width: 90%;
        display: flex;
        margin-top: 1em;
        border-radius: 10px;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 1em;
        .editIcon {
          width: 1.5em;
        }
        .adminImgDiv {
          .AdminProfilimg {
            width: 20em;
            margin-left: -0.2em;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
              rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
              rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
          .editImgDiv {
            position: absolute;
            top: 2.5em;

            &:hover {
              cursor: pointer;
            }
            p {
              margin: -0.5em 0 0 0;
              color: white;
              font-size: small;
            }
          }
        }
        .adminInfo {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2em;
          .adminName {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-bottom: 1em;
            border-bottom: 1px solid gray;
            div {
              &:hover {
                cursor: pointer;
              }
              p {
                margin: -0.5em 0 0 0;
              }
            }
          }
          .otherInfo {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-bottom: 1em;
            border-bottom: 1px solid gray;
            div {
              &:hover {
                cursor: pointer;
              }
              p {
                margin: -0.5em 0 0 0;
              }
              img {
                width: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}
